
#header {
  background-color: #fff;
  color: #fff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

a:hover {
  border-bottom-color: transparent;
  color: #2ebaae !important;
}

a:hover:before {
  color: #2ebaae !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e3441;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 1px #2ebaae;
  color: #2ebaae !important;
}